name: test-build-and-publish-on-release

on:
  release:
    types: [created]

jobs:
  run-tests:
    uses: ./.github/workflows/lint-and-test.yml

  build-and-publish:
    name: Build and Publish Release
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for pypi Trusted Publishing

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install pypa/build
        run: >-
          python -m
          pip install
          build
          --user
      - name: Build distributable
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        
